<div class="offset-md-4 col-md-4">
  <h3>Ajouter une techno à veiller</h3>
  <form #f="ngForm" (submit)="addTechno(f)">
    <div class="row">
      <div class="form-group col-md-12">
          <label for="technoName">Nom de la techno</label>
          <input type="text" class="form-control" id="technoName" ngModel name="technoName" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="category">Catégorie</label>
        <select class="form-control" id="category" ngModel name="category">
          <option value="">---</option>
          <option value="front">Front</option>
          <option value="back">Back</option>
          <option value="fullstack">Full Stack</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="details">Détails</label>
        <textarea class="form-control" id="details" cols="30" rows="10" ngModel name="details"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </form>
</div>